@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ------shared styles starts here---- */
.container {
  width: 90%;
  margin: 5rem auto;
  border-radius: 1rem;
}
.display-flex {
  display: flex;
}
.btn-primary {
  padding: 10px 24px;
  background: rgb(224, 44, 109);
  color: white;
  border: none;
}
/* ------shared styles ends here---- */
/* ------header section starts here---- */
/* nav styles */
nav {
  justify-content: space-between;
  align-items: center;
}
.menu ul {
  list-style: none;
}
.nav-links {
  text-decoration: none;
  color: black;
}
nav ul li {
  margin-right: 30px;
}
nav ul li i {
  font-size: 20px;
}
/* banner styles */
.banner-content h1 {
  font-weight: 700;
  font-size: 3.25rem;
  width: 90%;
}
.banner-content p {
  font-weight: 600;
  font-size: 1rem;
  width: 80%;
  margin-top: 16px;
  margin-bottom: 16px;
}
.banner-content .btn-primary {
  border-radius: 41px;
}
.banner-content {
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.banner-image {
  background-image: url("../images/Circle\ design.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.banner-image img {
  width: 100%;
}
.cart,
.bars {
  display: none;
}
/* ------header section ends here---- */
/* ------logos section starts here---- */
.logos {
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

/* ------logos section ends here---- */
/* ------collection section starts here---- */
.collection {
  width: 70%;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.collection h1 {
  text-align: center;
  margin-bottom: 47px;
}
.card {
  border-radius: 5px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  padding: 17px 15px;
  margin-bottom: 47px;
}
.card-title {
  font-size: 1.75rem;
  font-weight: 500;
}
.card-price {
  font-size: 1.5rem;
  font-weight: 400;
}
.card-rating-des {
  font-weight: 700;
  font-size: 0.875rem;
  color: #787885;
}
.card-rating-des i {
  color: #fb8200;
}
.card img {
  width: 100%;
}
.see {
  font-size: 1rem;
  font-weight: 700;
  color: #e02c6dde;
  text-align: right;
  cursor: pointer;
}
/* ------collection section ends here---- */
/* ------featured section starts here---- */
.featured {
  justify-content: center;
  gap: 96px;
}
.featured-content {
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.featured-content h1 {
  font-size: 2.37rem;
  font-weight: 700;
  color: #0a0826;
}
.featured-content p {
  font-size: 1rem;
  font-weight: 700;
  color: #6c6c6c;
  padding-top: 16px;
  padding-bottom: 16px;
}
.featured-image img {
  width: 100%;
}

/* ------featured section ends here---- */
/* ------footer section starts here---- */
.footer-section {
  background-color: #0a0826;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-section h1 {
  color: white;
  margin-top: 40px;
  margin-bottom: 3px;
}
.footer-section p {
  color: #d9dbe1;
}
.reserved {
  margin-bottom: 17px;
}
.social i {
  color: white;
  margin-right: 16px;
}
.social {
  margin-bottom: 40px;
}
/* ------footer section ends here---- */
/* responsive for smaller devices */
@media screen and (max-width: 576px) {
  .banner {
    flex-direction: column-reverse;
  }
  .banner-content {
    align-items: center;
    text-align: center;
  }
  .nav ul li {
    margin-right: 0px;
    margin-bottom: 5px;
  }
  nav ul {
    flex-direction: column;
  }
  .cart,
  .bars {
    display: inline;
    font-size: 20px;
  }
  .menu {
    display: none;
  }
  .card-container,
  .logos {
    grid-template-columns: repeat(1, 1fr);
  }
  .featured {
    flex-direction: column-reverse;
  }
}
/* responsive for medium devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
  nav,
  .banner {
    flex-direction: column;
    align-items: center;
  }
  .banner-content {
    align-items: center;
    text-align: center;
  }
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .featured {
    flex-direction: column-reverse;
  }
}
